.navbar-home {
    width: 80%;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
    color: #a86be2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    
}

.navbar-home a {
    text-decoration: none;
    color: #6a3594;
    margin: 0 15px;
    font-size: 15px;
    font-weight: bold;
    display: inline-block; /* Permite que transformações afetem o elemento */
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-home a:hover {
    color: #a467d6;
    transform: scale(1.1);
}

.navbar-center h2 {
    text-align: center;
    font-size: 25px;
}